extends ../../views/index

block css
	link(href="style.css",rel="stylesheet")

block content
	|	<div ng-app="sinApp">
	|		<div class="container">
	|			<div class="spinner">
	|				<i ng-repeat="n in [300] | range">
	|				<b></b>
	|				</i>
	|			</div>
	|		</div>
	|	</div>

block js
	script(src="/nm/angular/angular.min.js")
	script(src="app.js")
